# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 823d102136a4b0c7301df49141a1deb542d9c38936e7b04e286a469982b103d3a2ca87606f28f9f0e049c268363289a4ccc21c56ae1cbb7c1f2b4117335ab05d

test:
  secret_key_base: 07790ba489cb4d47d97f7a9a4f11033b8ea1e6393b1a31e25e18764af5847750e8f113e73dcc06fa60346c81b9271de966ce3532ffcd47c45f7a6f6e4462971f

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
